@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slideOut {
    0% {
      transform: translateY(-100%);
      opacity: 1;
    }
    100% {
      transform: translateY(50px);
      opacity: 0;
    }
}

@keyframes swoopInLeft {
    0% {
      transform: translateX(-120%) rotate(-90deg);
    }
    100% {
      transform: translateX(0) rotate(0deg);
    }
}

@keyframes swoopInRight {
    0% {
      transform: translateX(120%) rotate(90deg);
    }
    100% {
      transform: translateX(0) rotate(0deg);
    }
}