html,
body {
    height:100%;
}

#fullboard {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    padding: 0;
    margin: 0;
    position: relative;
}

#fullboard span.log {
    color: rgba(204, 28, 28, 1);
    position: absolute;
    top: 20px;
    right: 40px;
    animation: slideOut 5s both ease-out;
}

@keyframes slideOut {
    0% {
      transform: translateY(-100%);
      opacity: 1;
    }
    100% {
      transform: translateY(50px);
      opacity: 0;
    }
  }

#board {
    margin: 0 auto;
    padding: 0;
    width: 45%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1px;
}

#board div {
    background-color: rgba(255,255,255,0.4);
    opacity: 0.5;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#board div span{
    top: 0;
    left: 0;
    position: absolute;
    font-size: 12px;
}

#board div span[data-team='0']{
    color: blue;
}

#board div span[data-team='1']{
    color: red;
}

#board div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 1s;
}

#board div:hover {
    opacity: 1;
}

#board div.disabled {
    background-color: rgba(0,0,0,0);
    visibility: hidden;
    opacity: 0;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#board div.legalMove {
    background-color: rgba(241, 239, 100, 0.4) !important;
    -webkit-box-shadow:inset 0px 0px 0px 2px #e6fd17;
    -moz-box-shadow:inset 0px 0px 0px 2px #e6fd17;
    box-shadow:inset 0px 0px 0px 2px #e6fd17;
}

#board div.selected {
    opacity: 1 !important;
}

.mirror {
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}