.hud button {
    color: $color-white;
    border-radius: 3px;
    text-align: right;
    width: 100%;
    border: 0;
    padding: 5px 10px;
    margin: 1px 1px;
    transition: 0.5s;
    font-size: 15px;
    font-family: $font-standard;
    position: relative;
    border: 1px solid;
    // Button icon
    i {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    // Button color player 1
    &[data-team='0']{
        border-color: $color-player-1;
        background-color: $color-player-1;
        &:hover{
            border-color: $color-player-1-dark;
            background-color: $color-player-1-dark;
        }
    }
    // Button color player 2
    &[data-team='1']{
        border-color: $color-player-2;
        background-color: $color-player-2;
        &:hover{
            border-color: $color-player-2-dark;
            background-color: $color-player-2-dark;
        }
    }
    // Button ready
    &.readyButton {
        border-color: $color-ready-dark;
        background-color: $color-ready;
        margin: 0 1px 15px 1px;
        &:hover {
            background-color: $color-ready-dark;
            transition: 0.5s;
        }
    }
    // Button disabled
    &:disabled {
        color: $color-disabled;
        background-color: $color-disabled-dark;
        border-color: $color-disabled-dark;
        &:hover {
            background-color: $color-disabled-dark;
            border-color: $color-disabled-dark;
        }
    }
    &.cancelButton {
        border-color: $color-ready-dark;
        background-color: $color-ready-dark;
        margin: 0 1px 15px 1px;
    }
    &.userButton {
        border-color: $color-ready-dark;
        background-color: $color-ready;
    }
    &.deleteButton {
        border-color: $color-player-2-dark;
        background-color: $color-player-2;
        &:hover {
            background-color: $color-player-2-dark;
        }
    }
}

.hiddenBtn {
    transform: translateX(110%);
}
