#visualFight {
    position: absolute;
    display: block;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 200px;
    z-index: 999;
    span {
        font-family: $font-special;
        color: $color-white;
        letter-spacing: 1px;
        text-shadow: 0px 5px 5px rgba(0,0,0,0.1), 10px 5px 5px rgba(0,0,0,0.05), -10px 5px 5px rgba(0,0,0,0.05);
        &.versus {
            font-size: 40px;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: 1000;
            position: absolute;
        }
        &.result {
            font-size: 40px;
            left: 50%;
            top: 100%;
            transform: translate(-50%,-50%);
            z-index: 1000;
            position: absolute;
        }
    }
    div {
        &.swords {
            position: absolute;
            width: 50%;
            height: 80%;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            img {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                object-fit: contain;
                height: 100%;
            }
        }
    }
    #left {
        float: left;
    }
    #right {
        float: right;
    }
    #left, #right {
        position: relative;
        width: 50%;
        height: 100%;
        img {
            height: 80%;
            object-fit: contain;
            position: absolute;
            left: 50%;
            top: 20%;
            transform: translate(-50%,-50%);
        }
        span {
            z-index: 1000;
            position: absolute;
            font-size: 20px;
            left: 50%;
            top: 60%;
            transform: translate(-50%,-50%);
        }
    }
}

.hud {
    position: absolute;
    z-index: 99999;
    width: 200px;
    font-family: $font-standard;
}

#inviteModal {
    font-size: 14px;
    font-family: $font-standard;
    display: block;
    position: absolute;
    right: 210px;
    top: 6px;
    border-radius: 3px;
    padding: 5px;
    width: 300px;
    z-index: 99;
    background-color: $color-player-1;
    color: $color-white;
    &:before {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
        left: 100%;
        border: 5px solid transparent;
        border-left-color: $color-player-1;
    }
    span {
        font-size: 18px;
    }
    input {
        border: 1px solid $color-white;
        border-radius: 3px;
        width: 70%;
    }
    button {
        border: 1px solid $color-white;
        background-color: $color-white;
        float: right;
    }
}