// COLORS
// ===================

$color-player-1: #6da4f2;
$color-player-1-dark: #2967ed;
$color-player-2: #f93131;
$color-player-2-dark: #c60000;
$color-ready: #10d210;
$color-ready-dark: #008000;
$color-disabled: #9f9f9f;
$color-disabled-dark: #6a6b6a;
$color-legaltile: rgba(241, 239, 100, 0.4);
$color-legaltile-edge: #e6fd17;
$color-white: #ffffff;
$color-green: #90ee90;
$color-invisible: rgba(0, 0, 0, 0);
$color-almost-invisible: rgba(0, 0, 0, 0.8);

// FONTS
// ===================

$font-standard: fredoka;
$font-special: seagram;