<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/game.css">
    <link rel="stylesheet" href="css/mobile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body id="fullboard">
    <div id="inviteModal" class="hidden">
        <span>Invite Player</span><br>
        Send this URL to the second player. <br><br>
        <input id="url" value="https://github.com/zenorocha/clipboard.js.git">
        <button id="copyBtn" data-clipboard-target="#url">Copy URL</button>
    </div>
    <div id="hud_upper_right"></div>
    <div id="hud_lower_right"></div>

    <div id="board"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>    
    <script src="https://kit.fontawesome.com/90f9e5d42f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script src="themes/<%=theme%>/config.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/stratego.js"></script>
    <script src="js/socket.js"></script>
    
</body>
</html>